@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav {
    background-color: transparent;
    padding: 1% 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo img {
    width: 110%;
    height: 110%;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 10%;
}
nav li {
    margin-left: 7%;
}
nav li a {
    text-decoration: none;
    color: #000;
    font-size: 18%;
    font-weight: 500;
    padding: 8% 15%;
    border-radius: 5%;
    transition: 0.3s;
}
nav li a:hover {
    background-color: #3da404;
    color: black;
}

/* Slider */
/**/

/* Scroll Bar */

/* width */
::-webkit-scrollbar {
    width: 10%;
}
  
  /* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 5%;
}
   
  /* Handle */
::-webkit-scrollbar-thumb {
    background: #3b6d09;
    border-radius: 5%; 
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

/**/

.video h2 {
    font-size: 30%;
    text-align: center;
    color: #3da404;
}

.video p {
    text-align: center;
    color: #3b6d09;
}

.video video {
    width: 900%;
    height: auto;
    margin-left: 500%;
}

/* Página: Contacto */

#page3 .container {
    display: flex;
    align-items: center; /* Alinha verticalmente o conteúdo */
    
}
  
#page3 .image {
    flex: 1; /* Ocupa 1/2 do espaço disponível */
    align-items: center;
    position: relative;
    margin-left: 150%;
    filter: drop-shadow(0 0 10% #3b6d09);
}
  
#page3 .text {
    flex: 1 1 100%; /* Ocupa 1/2 do espaço disponível */
    padding: 0 20%; /* Adapte as margens laterais conforme necessário */
    text-align: justify;
}

#page3 .text h2{
    font-size: 30%;
}

#page3 .contacts {
    display: inline-flex;
    justify-content: space-between;
    box-shadow: 5% 5% red;
    padding: 8% 15%;
    margin-top: 370%;
    margin-right: 150%;
    margin-bottom: 0%;
    margin-left: 0%;
}

#page3 .contacts ul {
    position: absolute;
    align-items: center;
    list-style: none; 
    padding: 8%;
}

#page3 .contacts li {
    margin-left: 7%;
}

#page3 .contacts li a {
    text-decoration: none;
    color: #000;
    font-size: 18%;
    font-weight: 500;
    padding: 8% 15%;
    border-radius: 5%;
    transition: 0.3s;
}

#page3 .contacts li a:hover {
    background-color: #3da404;
    color: black;
}

/* Página: Sobre */

#page2 .container {
    display: flex;
    align-items: center; /* Alinha verticalmente o conteúdo */
    background-color: #3da404;
}
  
#page2 .image {
    flex: 1; /* Ocupa 1/2 do espaço disponível */
    align-items: center;
    position: relative;
    order: 2;
    text-align: justify;
    margin-left: 400%;
}
  
#page2 .text {
    flex: 1 1 100%; /* Ocupa 1/2 do espaço disponível */
    padding: 0 1%; /* Adapte as margens laterais conforme necessário */
    order: 1;
    text-align: right;
}
  
#page2 .text h2 {
    font-size: 30%;
}

/* Página: Início */
  
#page1 .container {
    display: flex;
    align-items: center; /* Alinha verticalmente o conteúdo */
}
  
#page1 .text2 {
    flex: 1 1 100%; /* Ocupa 1/2 do espaço disponível */
    padding: 0 20%; /* Adapte as margens laterais conforme necessário */
    order: 1;
    text-align: justify;
    margin-left: 150%;
}

#page1 .text2 h2{
    font-size: 30%;
}
  
#page1 .text {
    flex: 1 1 100%; /* Ocupa 1/2 do espaço disponível */
    padding: 0 20%; /* Adapte as margens laterais conforme necessário */
    text-align: justify;
    order: 2;
}

#page1 .text h2{
    font-size: 30%;
}

/* Linha Separa Páginas */
.page-separator {
    border: none;
    height: 2%;
    background-color: #3b6d09;
    opacity: 0.75;
    margin: 5% 0; /* Ajuste as margens conforme necessário */
}

/* Footer */

footer {
    background-color: #3b6d09;
    padding: 20%;
    text-align: center;
    margin-top: auto;
}
  
  